USE [master]
GO
/****** Object:  Database [Payroll Management]    Script Date: 09/10/2019 13:42:22 ******/
CREATE DATABASE [Payroll Management] ON  PRIMARY 
( NAME = N'Payroll Management', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Payroll Management.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Payroll Management_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Payroll Management_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Payroll Management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Payroll Management]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 09/10/2019 13:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Department](
	[dep_id] [int] IDENTITY(1,1) NOT NULL,
	[dep_name] [varchar](50) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[dep_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON
INSERT [dbo].[Department] ([dep_id], [dep_name]) VALUES (31, N'SOFTWARE')
INSERT [dbo].[Department] ([dep_id], [dep_name]) VALUES (32, N'HARDWARE')
SET IDENTITY_INSERT [dbo].[Department] OFF
/****** Object:  Table [dbo].[Admin]    Script Date: 09/10/2019 13:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[admin_id] [varchar](50) NULL,
	[admin_pass] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Admin] ([admin_id], [admin_pass]) VALUES (N'admin', N'admin')
/****** Object:  Table [dbo].[Employee]    Script Date: 09/10/2019 13:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[eid] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[contact] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[gender] [varchar](50) NULL,
	[address] [varchar](max) NULL,
	[password] [varchar](50) NULL,
	[depid] [varchar](50) NULL,
	[salary] [varchar](50) NULL,
	[designation] [varchar](50) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[eid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON
INSERT [dbo].[Employee] ([eid], [name], [contact], [email], [gender], [address], [password], [depid], [salary], [designation]) VALUES (7, N'Nevon', N'9876543210', N'NEVON@GMAIL.COM', N'Male', N'Mumbai', N'1234', N'31', N'15000', N'Developer')
INSERT [dbo].[Employee] ([eid], [name], [contact], [email], [gender], [address], [password], [depid], [salary], [designation]) VALUES (8, N'Test', N'9876543210', N'TEST@GMAIL.COM', N'Female', N'Mumbai', N'1234', N'32', N'12000', N'Designer')
SET IDENTITY_INSERT [dbo].[Employee] OFF
/****** Object:  Table [dbo].[Leave]    Script Date: 09/10/2019 13:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Leave](
	[leave_id] [int] IDENTITY(1,1) NOT NULL,
	[eid] [varchar](50) NULL,
	[from_date] [date] NULL,
	[to_date] [date] NULL,
	[reason] [varchar](max) NULL,
	[status] [varchar](50) NULL,
	[leave_type] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Leave] ON
INSERT [dbo].[Leave] ([leave_id], [eid], [from_date], [to_date], [reason], [status], [leave_type]) VALUES (19, N'7', CAST(0x1B400B00 AS Date), CAST(0x1B400B00 AS Date), N'sdds', N'approve', N'First Half')
INSERT [dbo].[Leave] ([leave_id], [eid], [from_date], [to_date], [reason], [status], [leave_type]) VALUES (20, N'7', CAST(0x1C400B00 AS Date), CAST(0x1C400B00 AS Date), N'sfds', N'decline', N'1')
INSERT [dbo].[Leave] ([leave_id], [eid], [from_date], [to_date], [reason], [status], [leave_type]) VALUES (22, N'7', CAST(0x1D400B00 AS Date), CAST(0x21400B00 AS Date), N'gfbfg', N'requested', N'5')
SET IDENTITY_INSERT [dbo].[Leave] OFF
/****** Object:  Table [dbo].[Salary]    Script Date: 09/10/2019 13:42:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Salary](
	[sal_id] [int] IDENTITY(1,1) NOT NULL,
	[dep_id] [varchar](50) NULL,
	[eid] [varchar](50) NULL,
	[month] [varchar](50) NULL,
	[year] [varchar](50) NULL,
	[earning] [varchar](50) NULL,
	[providentfund] [varchar](50) NULL,
	[salary] [varchar](50) NULL,
	[designation] [varchar](50) NULL,
	[leavededuction] [varchar](50) NULL,
	[latemarkdeduction] [varchar](50) NULL,
 CONSTRAINT [PK_Salary] PRIMARY KEY CLUSTERED 
(
	[sal_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Salary] ON
INSERT [dbo].[Salary] ([sal_id], [dep_id], [eid], [month], [year], [earning], [providentfund], [salary], [designation], [leavededuction], [latemarkdeduction]) VALUES (5, N'31', N'7', N'January', N'2019', N'15000', N'300', N'14700', N'Developer', NULL, NULL)
INSERT [dbo].[Salary] ([sal_id], [dep_id], [eid], [month], [year], [earning], [providentfund], [salary], [designation], [leavededuction], [latemarkdeduction]) VALUES (6, N'31', N'7', N'January', N'2018', N'14000', N'500', N'13500', N'Developer', NULL, NULL)
INSERT [dbo].[Salary] ([sal_id], [dep_id], [eid], [month], [year], [earning], [providentfund], [salary], [designation], [leavededuction], [latemarkdeduction]) VALUES (7, N'31', N'7', N'January', N'2017', N'23232', N'33', N'23199', N'Developer', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Salary] OFF
/****** Object:  StoredProcedure [dbo].[LeaveApply]    Script Date: 09/10/2019 13:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LeaveApply]
	@eid varchar(50),
	@fromdate varchar(50),
	@enddate varchar(50),
	@reason varchar(Max),
	@leavetype varchar(50),
	@op Int out
AS
	begin
		declare @exist int = 0;
		select @exist = leave_id from Leave where ((from_date <= @fromdate and to_date >= @enddate) or ((from_date between @fromdate and @enddate) or (to_date between @fromdate and @enddate))) and eid = @eid
		if @exist = 0
		 begin
			insert into Leave (eid, from_date, to_date, reason, status, leave_type) values (@eid, @fromdate, @enddate, @reason, 'requested', @leavetype)
		 end
			set @op = @exist;
	end
GO
/****** Object:  StoredProcedure [dbo].[EmployeeDb]    Script Date: 09/10/2019 13:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmployeeDb]
	@name varchar(50),
	@contact varchar(50),
	@email varchar(50),
	@gender varchar(50),
	@address varchar(Max),
	@password varchar(50),
	@salary varchar(50),
	@department varchar(50),
	@designation varchar(50),
	@querytype int,
	@op Int out
AS
	begin
		declare @exist int = 0;
		if @querytype = 0
			begin
				select @exist = eid from Employee where email = @email;
			end
		else
			begin
				select @exist = eid from Employee where email = @email and eid != @querytype;
			end
		if @exist = 0
		 begin
			if @querytype = 0
			begin
			insert into Employee(name, contact, email, gender, address, password, depid, salary, designation ) values (@name, @contact, @email, @gender, @address, @password, @department, @salary, @designation);
			end
			else
			begin
				Update Employee set name = @name, contact = @contact, email = @email, gender = @gender, address = @address, salary = @salary, depid = @department, designation = @designation where eid = @querytype
			end
		 end
			set @op = @exist;
	end
GO
/****** Object:  StoredProcedure [dbo].[DepartmentDb]    Script Date: 09/10/2019 13:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DepartmentDb]
	@name varchar(50),
	@querytype int,
	@op Int out
AS
	begin
		declare @exist int = 0;
		if @querytype = 0
			begin
				select @exist = dep_id from Department where dep_name = @name;
			end
		else
			begin
				select @exist = dep_id from Department where dep_name = @name and dep_id != @querytype;
			end
		
		if @exist = 0
		 begin
			if @querytype = 0
			begin
				insert into Department (dep_name) values (@name);
			end
			else
			begin
				Update Department set dep_name = @name where dep_id = @querytype
			end
		 end
			set @op = @exist;
	end
GO
